/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#ctr1 {
	-fx-background-color: red;
}
#titleBar {
	-fx-background-color: #FFF6B7;
}
#btnClose {
	-fx-background-color: white;
}
#btnClose:hover {
	-fx-background-color: red;
}
#resultLabel{
	-fx-background-color: lightgrey;
}

